import Test

access(all) let account = Test.createAccount()

access(all) fun testContract() {
    let err = Test.deployContract(
        name: "{{ .Name }}",
        path: "../contracts/{{ .Name }}.cdc",
        arguments: [],
    )

    Test.expect(err, Test.beNil())
}