import "{{ .ContractName }}"

transaction {
    prepare(signer: &Account) {
        // Call the increment function on the Counter contract
        {{ .ContractName }}.increment()
    }

    execute {
        log("Counter incremented successfully")
    }
}