name: Build Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release Go Binary
    runs-on: ubuntu-latest
    steps:
      # See https://github.com/onflow/flow-cli/pull/1431 for more information
      - name: Free up disk space
        run: |
          sudo rm -rf ${RUNNER_TOOL_CACHE}
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/vcpkg
          sudo rm -rf /usr/local/share/miniconda
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo docker image prune --all --force
          sudo docker builder prune -a -f
          sudo apt-get clean
          df -h
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - name: Codebase security check
        continue-on-error: true
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Setup Release Environment
        run: |-
          echo 'MIXPANEL_PROJECT_TOKEN=${{ secrets.MIXPANEL_PROJECT_TOKEN }}' > .release-env
          echo 'LILICO_TOKEN=${{ secrets.LILICO_TOKEN }}' >> .release-env
          echo 'APP_VERSION=$(basename ${GITHUB_REF})' >> .release-env
          echo 'BUILD_TIME=$(date --iso-8601=seconds)' >> .release-env
          echo 'VERSION=${{ github.event.release.tag_name }}' >> .release-env
          echo 'GITHUB_TOKEN=${{ secrets.FLOW_CLI_RELEASE }}' >> .release-env
          # Create temp dir in workspace; set container-visible paths
          mkdir -p ${GITHUB_WORKSPACE}/tmp
          echo "TMPDIR=/go/src/github.com/onflow/flow-cli/tmp" >> .release-env
          echo "GOTMPDIR=/go/src/github.com/onflow/flow-cli/tmp" >> .release-env
      - name: Build and Release
        run: make release
