name: Build Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release Go Binary
    runs-on: ubuntu-latest
    steps:
      # See https://github.com/onflow/flow-cli/pull/1431 for more information
      - name: Delete unnecessary cache
        run: rm -rf ${RUNNER_TOOL_CACHE}
      - uses: actions/checkout@v3
      - name: Codebase security check
        continue-on-error: true
        uses: snyk/actions/golang@master
        with:
          go-version: '1.22'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Setup Release Environment
        run: |-
          echo 'MIXPANEL_PROJECT_TOKEN=${{ secrets.MIXPANEL_PROJECT_TOKEN }}' > .release-env
          echo 'LILICO_TOKEN=${{ secrets.LILICO_TOKEN }}' >> .release-env
          echo 'APP_VERSION=$(basename ${GITHUB_REF})' >> .release-env
          echo 'BUILD_TIME=$(date --iso-8601=seconds)' >> .release-env
          echo 'VERSION=${{ github.event.release.tag_name }}' >> .release-env
          echo 'GITHUB_TOKEN=${{ secrets.FLOW_CLI_RELEASE }}' >> .release-env
      - name: Build and Release
        run: make release