name: Build Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release Go Binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Codebase security check
        continue-on-error: true
        uses: snyk/actions/golang@master
        with:
          go-version: '1.20'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Setup Release Environment
        run: |-
          echo 'MIXPANEL_PROJECT_TOKEN=${{ secrets.MIXPANEL_PROJECT_TOKEN }}' > .release-env
          echo 'LILICO_TOKEN=${{ secrets.LILICO_TOKEN }}' >> .release-env
          echo 'APP_VERSION=$(basename ${GITHUB_REF})' >> .release-env
          echo 'BUILD_TIME=$(date --iso-8601=seconds)' >> .release-env
          echo 'VERSION=${{ github.ref_name }}' >> .release-env
          echo 'COMMIT=${{ github.sha }}' >> .release-env 
          echo 'CGO_FLAGS="-O2 -D__BLST_PORTABLE__"' >> .release-env
          echo 'CGO_ENABLED=1' >> .release-env
          echo 'GITHUB_TOKEN=${{ secrets.FLOW_CLI_RELEASE }}' >> .release-env
      - name: Build and Release
        run: make release